.affiliation, .rank, .blanktoken { display: inline-block; text-align: center; font-size: 1em; padding: 0.1em; border: thin solid; border-radius: 1em; width: 1em; height: 1em; }
.affiliation.r { color: crimson; border-color: crimson; }
.affiliation.b { color: mediumblue; border-color: mediumblue; }
.affiliation.unknown { color: darkgoldenrod; border-color: darkgoldenrod; }
.blanktoken { border-color: silver; }
.item { padding: 0.1em }
.item.GreenShield { background-color: green; color: white; }
.item.GreenSword { background-color: green; color: white; }
.item.PurpleShield { background-color: purple; color: white; }
.item.PurpleSword { background-color: purple; color: white; }
